@page
@using DataModelsLib.CustomTypes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome!</h1>

@if (User.Identity?.IsAuthenticated == true)
{
	<p>Hello, <strong>@Model.Username</strong>! Your role is <strong>@Model.Role</strong>.</p>
	@if (User.IsInRole(RoleNames.Student))
	{
		<p>Do I have any reserved slots? <strong>@Model.SlotReservingAvailabilities</strong></p>
	}
}
else
{
	<p>You are not logged in.</p>
}